.App {
  text-align: center;
}

.main-line {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}
.axis-x-line path {
  stroke: rgb(182, 182, 182);
  stroke-width: 2;
}
.axis-x-line line, .axis-y-line line {
  display: none;
}
.axis-x-line text, .axis-y-line text {
  color: rgb(136, 136, 136);
  font-size: 1rem;
}
.axis-y-line path {
  display: none;
}